rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read: if true;
      allow write: if false;

      match /events/{eventId} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /records/{recordId} {
      allow read: if false;
      allow write: if false;
    }

    match /tiles_cache/{gridId} {
      allow read: if true;
      allow write: if false;
    }

    match /geocache/{docId} {
      allow read: if false;
      allow write: if false;
    }
  }
}
